#nav {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1000;
}

#nav a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #c1da5d;
  margin: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#nav a:hover {
  color: aliceblue;
}

#nav a.active {
  color: black;
}

#nav a.active::after {
  content: "";
  display: block;
  width: 60px;
  height: 5px;
  background-color: black;
  border-radius: 5px;
}

.page-cpntainer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

#add-place-box {
  position: absolute;
  top: 20%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#add-place-box form {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#add-place-box input {
  outline: none;
  border: none;
  width: 35%;
  display: block;
  height: 30px;
  border-radius: 6px;
  padding: 0 15px;
  font-size: 1.2rem;
  opacity: 0.6;
  font-family: "Source Sans Pro", Courier, monospace;
  font-weight: 100;
}

#add-place-box button {
  color: #fff;
  text-transform: uppercase;
  background-color: #444ac3;
  width: 100px;
  border-radius: 12px;
  border: none;
  margin-left: 4px;
}

/* Dinh dang chung */
body {
  font-family: 'Source Sans Pro', Courier, monospace;
  font-size: 12px;
  color: white;
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

/* Dinh dang class layout */
.cover {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #02020261;
}

img.bg-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.top-info {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 3%;
  padding: 0px 6%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 50px;
}

.top-info p {
  margin: 0;
}

.info-location p.date {
  font-size: 26px;
}

.info-time {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
}

.info-time span {
  font-size: 26px;
}

/* Temp */
.main-temp {
  position: absolute;
  bottom: 300px;
  left: 50px;
  /* background: gray; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: moveTo 2s none;
          animation: moveTo 2s none;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.main-temp:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@-webkit-keyframes moveTo {
  from {
    left: -100px;
  }
  to {
    left: 50px;
  }
}

@keyframes moveTo {
  from {
    left: -100px;
  }
  to {
    left: 50px;
  }
}

.day-of-week {
  text-transform: uppercase;
  font-size: 20px;
  background: black;
  width: 80px;
  text-align: center;
  padding: 5px;
  border-radius: 20px;
  opacity: 0.5;
}

.main-temp img {
  width: 200px;
  height: 200px;
}

.main-temp p {
  font-size: 62px;
  margin: 0;
}

.main-temp sup {
  font-size: 23px;
}

.temp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Sub temp */
.sub-temp-container {
  position: absolute;
  /* background: #333; */
  bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  -webkit-animation: move 2s none;
          animation: move 2s none;
}

@-webkit-keyframes move {
  from {
    bottom: -100px;
  }
  to {
    bottom: 50px;
  }
}

@keyframes move {
  from {
    bottom: -100px;
  }
  to {
    bottom: 50px;
  }
}

.sub-temp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10%;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.sub-temp:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.sub-temp img {
  width: 100px;
  height: 100px;
}

.sub-temp p {
  font-size: 40px;
  margin: 0;
}

.sub-temp sup {
  font-size: 23px;
}

.dow {
  text-transform: uppercase;
  font-size: 20px;
  background: black;
  width: 80px;
  text-align: center;
  padding: 5px;
  border-radius: 20px;
  opacity: 0.5;
}

/* media query responsive */
/* cho thiet bi do rong man hinh lon nhat*/
@media (max-width: 768px) {
  .top-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .info-time {
    text-align: center;
  }
  .main-temp {
    text-align: center;
    width: 100%;
    margin-right: 85px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-right: 49px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    bottom: 35%;
    left: 0;
  }
  .sub-temp-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .sub-temp-container .sub-temp {
    width: 25%;
  }
}
/*# sourceMappingURL=style.css.map */